body {
	width:100%;
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x:hidden;
}
html {
    width:100%;
    height:100%;
}
.display {
    width:70%;
    margin:0 auto;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-weight: bold;
    font-size:250%;
    color:#ffffff;
    transform: translate(-50%,-50%);
}
.bottom {
    width:100%;
    float: left;
    text-align: center;
    font-size:24px;
    color:#ffffff;
    position: absolute;
    bottom:30px;
}
.bottom-copy {
    width:100%;
    float: left;
    text-align: center;
    color:#ffffff;
    position: absolute;
    bottom:90px;
}
.gradient-holder {
    width:100%;
    height:100%;
    float:left;
    background-color: #cf4746;
    position: absolute;
}
.button {
    color:#fff;
    padding:10px 25px 10px 25px;
    background-color: #222222;
    border: solid 1px #222222;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -khtml-border-radius: 4px;font-size:18px;
}